<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:39:26</td>   <td>0</td> <td title="&gt;&gt;Progressivetestng.setup()[pri:0, instance:Testng.Progressivetestng@7d68ef40]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:39:26</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;Progressivetestng.setupTest()[pri:0, instance:Testng.Progressivetestng@7d68ef40]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:39:29</td>   <td>3090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Progressivetestng.performActions()[pri:0, instance:Testng.Progressivetestng@7d68ef40]">performActions</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:39:31</td>   <td>5831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Progressivetestng.performActions1()[pri:1, instance:Testng.Progressivetestng@7d68ef40]">performActions1</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:39:34</td>   <td>8185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Progressivetestng.performActions2()[pri:2, instance:Testng.Progressivetestng@7d68ef40]">performActions2</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:39:44</td>   <td>18531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Progressivetestng.performActions3()[pri:3, instance:Testng.Progressivetestng@7d68ef40]">performActions3</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:40:17</td>   <td>51255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Progressivetestng.performActions4()[pri:4, instance:Testng.Progressivetestng@7d68ef40]">performActions4</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:40:36</td>   <td>70258</td> <td>&nbsp;</td><td title="&lt;&lt;Progressivetestng.tearDownTest()[pri:0, instance:Testng.Progressivetestng@7d68ef40]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/02/17 16:40:36</td>   <td>70791</td> <td title="&lt;&lt;Progressivetestng.tearDown()[pri:0, instance:Testng.Progressivetestng@7d68ef40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182259421</td>   <td></td> </tr>
</table>
